<div class="content col-md-12">
  <div class="row">
    <div class="md-col-12">
      <h1>Login (TEMP)</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form action="">
      
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input placeholder="Email" class="form-control" name="email" type="text" id="email">
      </div>
      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input placeholder="Password" class="form-control" name="password" type="password" value="" id="password">
      </div>
      <!-- Remember checkbox -->
      <div class="checkbox">
        <label for="remember">Remember Me</label>
        <input type="checkbox" id="remember" name="remember" />
      </div>
      <!-- Submit -->
      <input type="text" class="btn btn-default" type="submit" value="Login" />
      <a class="forgot-password" href="/password/remind">Forgot your password?</a>
      <a class="forgot-password" href="/verification/remind">Resend confirmation email</a>
      <!-- TODO: Need form token -->
      </form>
    </div>
  </div>
  <div class="row">
    <div social-login message="Log in"></div>
  </div>
</div>